.booking-form-container {
  margin-top: 7%;
  width: 100vw;
  color: #333;
  position: relative;
}

.booking-form-container > h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 25px;
}

.booking-form {
  margin: 0 auto;
  width: 80%;
  display: flex;
}

.lesson-options-title,
.time-options-title,
.booking-review-title {
  margin: 20px 0;
  font-size: 23px;
  font-weight: 200;
}

.lesson-options-container,
.time-options-container {
  width: 50%;
}

.lesson-options-container {
  margin-right: 40px;
}

.lesson-option-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 3px;
  box-shadow: rgba(8, 19, 68, 0.2) 0px 2px 8px 0px;
}

.lesson-option-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.lesson-option-description {
  font-size: 15px;
  color: #777;
  margin-bottom: 20px;
}

.lesson-items {
  display: flex;
  justify-content: space-evenly;
  color: #777;
  font-size: 15px;
}

.lesson-item {
  cursor: pointer;
  padding: 8px;
  border: 1px solid #777;
  border-radius: 8px;
  text-align: center;
}

.lesson-item-duration {
  margin-bottom: 3px;
}

.lesson-item:focus,
.time-option:focus {
  // border: 1px solid #ff786b;
  border: 1px solid #7ec937;
  color: white;
  background-color: #7ec937;
  // background-image: linear-gradient(90deg, #ff4338, #ff786b);
}

.time-option {
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 15px;
  border-radius: 8px;
  padding: 10px;
  width: 70%;
  text-align: center;
}

.lesson-item:hover,
.time-option:hover {
  box-shadow: rgba(8, 19, 68, 0.5) 0px 2px 8px 0px;
}

.booking-review-name,
.booking-review-duration,
.booking-review-price,
.booking-review-time {
  font-size: 17px;
  color: #777;
}

.booking-review-headings {
  color: #ff4338;
}

.booking-form-submit {
  min-width: 150px;
  background-image: linear-gradient(90deg, #ff4338, #ff786b);
  font-weight: 500;
  color: #fff;
  padding: 15px 12px;
  font-size: 17px;
  border-radius: 3px;
  text-align: center;
  margin: 40px auto;
}
