.teach-language {
  position: fixed;
  top: 0px;
  left: 130px;
  z-index: 1000;
  transition: margin 0.2s ease 0s;
}

.teach-language-choice {
  display: flex;
  margin-top: 15px;
  padding-left: 25px;
  height: 42px;
  font-size: 23px;
  align-items: center;
  border-left: 1px solid rgb(221, 221, 221);
}

.teach-language-choice > span {
  cursor: pointer;
}

.teach-language-choice .arrow-down,
.teach-language-choice .arrow-up {
  position: static;
}

.teach-menu {
  position: absolute;
  left: 0;
  margin: 25px auto 0;
  width: 300px;
  height: auto !important;
  z-index: 3;
}

.menu {
  position: relative;
  margin: 0;
  padding: 0;
  cursor: pointer;
  user-select: none;
  width: 400px;
}

.teach-menu .menu-items {
  position: static;
  border: 0;
  transform: scaleY(1) !important;
  opacity: 1 !important;
}
.menu-style-search .menu-items {
  left: 0;
}
.menu-items-down {
  transform-origin: top;
}
.menu-items {
  position: absolute;
  left: -1px;
  top: 100%;
  width: 100%;
  overflow-y: auto;
  background: #fff;
  border: 1px solid #ccc;
  z-index: 900;
  box-sizing: content-box;
  transform: scaleY(0);
  opacity: 0;
  transition: transform 0.2s, opacity 0.2s;
}

.menu-group-name {
  margin: 0;
  padding: 9px 12px;
  font-weight: 900;
  font-size: 20px;
  color: #333;
}

.menu-item {
  display: flex;
  padding: 9px 12px;
  min-height: 16px;
  color: #777;
}

.menu-item:hover {
  background: hsla(0, 0%, 80%, 0.2);
  color: #ff4338;
  cursor: pointer;
}

.arrow-down {
  transform: rotate(45deg);
}

.arrow-down,
.arrow-up {
  position: absolute;
  display: inline-block;
  margin-top: -8px;
  top: 50%;
  width: 16px;
  height: 16px;
  right: 12px;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.arrow-down:after,
.arrow-down:before,
.arrow-up:after,
.arrow-up:before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 8px;
  height: 2px;
}

.arrow-down:before,
.arrow-up:before {
  left: 4px;
  top: 7px;
}

.arrow-down:after,
.arrow-down:before {
  background-color: #ff4338;
}

.arrow-down:after,
.arrow-up:after {
  top: 4px;
  left: 7px;
  transform: rotate(90deg);
}

.arrow-up {
  transform: translate(1px, -2px) rotate(-135deg);
}

.arrow-up:after,
.arrow-up:before {
  background-color: #ff4338;
}
