.search-results-container {
  display: flex;
  min-height: 300px;
  margin-top: 7%;
}

.search-teachers-list {
  margin: 10px auto 0;
  width: 950px;
  transition: margin 0.2s;
}

.search-total {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 300;

  strong {
    font-weight: 700;
  }
}

.search-teacher-card_container {
  position: relative;
  display: flex;
  margin-bottom: 20px;
}

.search-teacher-card_container:hover {
  animation-name: pulse;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}

@keyframes pulse {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scale3d(1.0075, 1.0075, 1.0075);
  }

  100% {
    transform: scaleX(1);
  }
}

.search-teacher-card_left {
  position: relative;
  padding: 25px 25px 20px;
  width: 555px;
  min-height: 254px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.search-teacher-card_right {
  padding: 25px 20px 20px;
  width: 386px;
  max-height: 254px;
  border-radius: 0 6px 6px 0;
  background: #fff;
  box-shadow: 5px 7px 25px 0 rgba(0, 0, 0, 0.1);
}

.search-teacher-card_left__top,
.search-teacher-card_left__bottom {
  display: flex;
}

.search-teacher-card_left__top__avatar {
  display: flex;
  align-items: flex-start;
  text-align: center;
}

.avatar-big.avatar-shadow,
.avatar-hero.avatar-shadow {
  border: 2px solid #fff;
}
.avatar-placeholder {
  border-radius: 50%;
  background: #ccc;
}
.avatar-shadow {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
}
.avatar-big {
  width: 100px;
  height: 100px;
}
.avatar {
  display: inline-block;
  position: relative;
}

.avatar img {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 50%;
}

.search-teacher-card_left__top__info {
  margin-left: 30px;
  flex: 1 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;

  h1 {
    margin-bottom: 5px;
    font-size: 23px;
    font-weight: 400;
  }

  h2 {
    display: flex;
    min-height: 25px;
    font-size: 16px;
    font-weight: 400;
    flex-wrap: wrap;
    align-items: center;
  }

  p {
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    color: #777;
    text-transform: uppercase;
    margin-bottom: 4px;
  }

  .search-teacher-card-divider {
    margin: 12px 0;
    width: 15px;
    height: 2px;
    border-radius: 1px;
    background: #ff4338;
  }
}

.search-teacher-card_left__bottom {
  margin-top: 13px;
}

.search-teacher-card_left__bottom__rating {
  width: 100px;
  text-align: center;
}

.search-teacher-card_left__bottom__info {
  margin-left: 33px;
  flex: 1 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;

  h2 {
    display: flex;
    min-height: 25px;
    font-size: 16px;
    font-weight: 400;
    flex-wrap: wrap;
    margin-bottom: 13px;
  }

  p {
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    color: #777;
    text-transform: uppercase;
    margin-bottom: 4px;
  }
}

.teacher-card-rate {
  display: flex;
}

.teacher-card-hourly,
.teacher-card-trial {
  flex: 1 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.teacher-card-favorite,
.teacher-card-favorite-active {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.teacher-card-favorite {
  background: url(https://d1m3ds7i7t710d.cloudfront.net/orion/static/media/heart-empty.96354e1f.svg)
    no-repeat 50%/30px 30px;
}

.search-teacher-card_left__bottom__rating {
  width: 100px;
  text-align: center;

  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
  }
}

.teacher-card-stars {
  margin: -5px 0 10px;
}

.stars-box {
  height: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.stars-box .star,
.stars-box .star_gray {
  width: 12px;
  height: 12px;
  margin-right: 4px;
}
.stars-box .star {
  background: url(https://d1m3ds7i7t710d.cloudfront.net/orion/static/media/star.0f1dd6bd.svg)
    no-repeat 50%;
}

.react-tabs__tab-list {
  display: flex;
  margin-bottom: 17px;
  justify-content: center;
}

.react-tabs__tab {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 20px 10px 0;
  cursor: pointer;
  font-size: 14px;
}

// .react-tabs__tab--selected {
//   // position: absolute;
//   height: 2px;
//   border-radius: 1px;
//   background-color: #ff4338;
//   transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
// }

.video-player video,
.video-player iframe {
  width: 100%;
  height: 100%;
  background: #000;
}

.iframe-video,
.video-player {
  position: relative;
  height: 192px;
}
.iframe-video {
  margin: 0 auto;
  width: 343px;
  border-radius: 6px;
  overflow: hidden;
}

.video-poster-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.video-play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  background: url(https://d1m3ds7i7t710d.cloudfront.net/orion/static/media/play.bc96a11e.svg)
    no-repeat 50%/50px 50px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.video-player img {
  width: 100%;
  transform: translateY(-32px);
}
.video-mp4-poster {
  transform: none !important;
}

.teacher-card-intro {
  padding: 0 10px 10px;
  font-size: 13px;
  font-weight: 300;
  color: #777;
  line-height: 1.57;
  word-wrap: break-word;
}
