#root {
	height: 100%;
}

body {
	font-family: Roboto, sans-serif, Arial, Helvetica;
	font-size: 12px;
}

.italki {
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 768px;
}

.flex-container {
	position: relative;
	flex: 1 1;
}

