.modal-container {
  position: relative;
  margin: 50px auto;
  width: 650px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 55px 0 rgba(0, 0, 0, 0.3);
  z-index: 9999;
  overflow: hidden;
}

.modal-head {
  margin: 0 30px;
  height: 80px;
  border-bottom: 1px solid #ddd;
  position: relative;
  top: 0;
  left: 0;
  line-height: 80px;
  font-size: 23px;
  font-weight: 300;
  color: #333;
}

.modal-head-title {
  flex: 1 1;
  text-align: center;
}

.modal-close-lesson {
  position: absolute;
  top: 30px;
  right: 10px;
  cursor: pointer;
}

.modal-body-lesson {
  padding: 40px 30px 0;
  overflow-y: auto;
  background: #fff;
  border-radius: 10px;
  padding: 30px 30px 30px;
  border-radius: 10px;
}

.modal-flex {
  display: flex;
  flex-direction: column;
}

.modal-container .modal-lessonDetail-title {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.modal-container,
.modal-lessonDetail-category {
  color: #777;
  font-size: 12px;
}

.title {
  margin-bottom: 3px;
}

.content {
  color: #333;
  font-size: 16px;
}

.modal-lessonDetail-description {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.5;
  word-wrap: break-word;
  white-space: pre-wrap;
  color: #333;
}

.modal-lessonDetail-language,
.modal-lessonDetail-taught,
.modal-lessonDetail-tags,
.modal-lessonDetail-category,
.modal-lessonDetail-description {
  margin-bottom: 20px;
}

.modal-lessonDetail-tags span {
  display: inline-block;
  border: 1px solid #333;
  color: #333;
  border-radius: 5px;
  padding: 6px 8px;
  margin-right: 12px;
  margin-bottom: 8px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.modal-lessonDetail-price {
  margin-bottom: 5px;
  font-size: 12px;
  color: #777;
  text-transform: uppercase;
}

.modal-lessonDetail-prieCard {
  width: 153px;
  height: 91px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-lessonDetail-prieCard-time {
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}

.lessonCard-price-green {
  cursor: default;
}
.lessonCard-price-red {
  color: #ff7b73;
  background-color: rgba(255, 123, 115, 0.1);
}

.space-detail {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row;
  margin-top: 20px;
}

.notice-text {
  margin-left: 12px;
  margin-right: 30px;
  line-height: 20px;
}

.space-detail img {
  width: 17px;
}

.notice-text span {
  font-size: 14px;
  color: #333;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.modal-footer-lesson {
  height: 82px;
  padding: 16px 30px;
  border-top: 1px solid #ddd;
  position: relative;
  top: 0;
  left: 0;
  height: 53px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.07);
}

.modal-lessonDetail-bookBtn {
  min-width: 550px;
  background: #ff4238;
  font-weight: 500;
  color: #fff;
  padding: 15px 12px;
  font-size: 14px;
  border-radius: 3px;
  text-align: center;
}
