.teacher-right {
    display: flex;
    flex-direction: column;
}

.teacher-book {
    width: 367px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 7px 25px 0 rgba(0,0,0,.1);
}

.bookCard-box {
    padding: 5px;
    display: flex;
}

.bookCard {
    width: 357px;
    min-height: 71px;
    padding: 0 15px;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.bookCard {
    position: relative;
    top: 0;
    right: 0;
}

.bookCard-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.bookCard-title {
    font-size: 16px;
    color: #333;
}

.bookCard-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.bookCard-priceNew {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.bookCard-hr {
    width: 327px;
    margin: 0 auto;
    border-bottom: 1px solid #ddd;
}

.bookCard-price-from {
    position: absolute;
    top: 8px;
    right: 15px;
    font-size: 10px;
    color: #333;
}

.teacher-right-booknow {
    width: 327px;
    height: 42px;
    margin: 0 20px 20px;
    font-size: 16px;
}

.btn-standard {
    min-height: 36px;
    padding: 10px 12px;
    font-size: 14px;
}
.btn-gradient {
    color: #fff;
    background-image: -webkit-gradient(linear,left top,right top,from(#ff4338),to(#ff786b));
    background-image: -webkit-linear-gradient(left,#ff4338,#ff786b);
    background-image: linear-gradient(90deg,#ff4338,#ff786b);
}
.btn-main {
    color: #fff;
    // background: #ff4238;
}
.btn {
    // margin: 0;
    padding: 0;
    min-width: 80px;
    font-weight: 500;
    text-align: center;
    border: none;
    transition: background .15s;
    border-radius: 3px;
    line-height: 1;
    text-transform: uppercase;
}