.teacher-schedule {
  margin-top: 20px;
  padding: 20px 20px 10px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.small-schedule {
  position: relative;
  min-height: 180px;
}

.small-schedule-days {
    display: flex;
    margin-bottom: 5px;
    padding-left: 70px;
}

.small-schedule-hours {
    display: flex;
    height: 156px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}