.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 768px;
  padding-top: 100px;
}

.app-paddingTop-0 {
  padding-top: 0;
}

.flex-container {
  position: relative;
  flex: 1 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}
