.dashboard {
    padding-top: 100px;
    margin-bottom: 50px;
}

.dashboard-hero {
    margin-bottom: 40px;
}

.dashboard-user {
    display: flex;
    width: 945px;
    margin: 0 auto;
}

.dashboard-info {
    display: flex;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(8, 19, 68, 0.1) 0px 2px 8px 0px;
    border-radius: 6px;
}

.dashboard-info {
    width: 366px;
    margin-right: 10px;
    position: relative;
    padding: 20px 0px 20px 20px;
}

.dashboard-info .avatar-medium {
    width: 80px !important;
    height: 80px !important;
}
.avatar-placeholder {
    border-radius: 50%;
    background: #ccc;
}
.avatar-medium {
    width: 60px;
    height: 60px;
}
.avatar {
    display: inline-block;
    position: relative;
}

.avatar img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 50%;
}

.dashboard-person {
    margin-left: 20px;
}

.dashboard-person, .dashboard-name {
    font-size: 20px;
    font-weight: 500;
    color: #333;
}

.dashboard-name-common {
    max-width: 170px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.dashboard-id {
    font-size: 14px;
    color: rgb(119, 119, 119);
    margin-left: 10px;
}

.dashboard-id>span {
    font-weight: 100px;
}

.dashboard-lesson {
    display: flex;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(8, 19, 68, 0.1) 0px 2px 8px 0px;
    border-radius: 6px;
    margin-right: 10px;
}

.dashboard-lesson {
    padding: 7px;
}

.lesson-info {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 1.75;
    text-align: center;
    color: rgb(119, 119, 119);
    width: 133px;
    margin: auto 0;
    cursor: pointer;
}

.dashboard-lesson .lesson-info div:first-child {
    font-size: 50px;
    font-weight: 300;
    line-height: 60px;
    color: rgb(51, 51, 51);
}

.dashboard-lesson .lesson-info div:nth-child(2) {
    font-size: 12px;
    line-height: 1.75;
    text-align: center;
    color: #777;
}

.dashboard-total-balance {
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 2px 8px 0 rgba(8,19,68,.1);
    padding-top: 14px;
    padding-bottom: 14px;
}

.dashboard-user, .dashboard-total-balance header {
    font-size: 12px;
    line-height: 1.75;
    color: #777;
    text-align: center;
}

.dashboard-total-balance .dashboard-total-money {
    font-size: 23px;
    font-weight: 700;
    color: #333;
    text-align: center;
    line-height: 20px;
}

.dashboard-total-balance .dashboard-total-Credits {
    margin: 0px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    color: #337ab7;
}

.find-your-teacher-btn {
    color: #ff4238;
    font-weight: 400;
    margin: 30px auto auto;
    border: 1px solid #ff4238;
    border-radius: 3px;
    min-height: 24px;
    padding: 8px 12px;
    font-size: 14px;
    margin: 30px auto auto;
}

.recommend-teacher-slider-container {
    width: 1000px;
    text-align: center;
    margin: 60px auto;
}

.recommend-teacher-slider-container .title-desktop, .recommend-teacher-slider-container .title-tablet {
    margin-bottom: 50px;
}
.title-desktop {
    width: 947px;
    display: flex;
    align-items: center;
}
