.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 114px;
  height: 64px;
  margin-left: 15px;
  margin-right: 48px;
  margin-top: -1px;
  min-width: 114px;
}

.footer-links {
  margin-left: 50%;
}

.footer-links i {
  // margin-right: 20px;
  width: 40px !important;
  height: 40px !important;
}
