.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 114px;
  height: 64px;
  margin: 40px 48px 30px 15px;
  min-width: 114px;
}

.footer-links {
  margin-left: 50%;
}

.footer-links i {
  width: 30px !important;
  height: 30px !important;
}
