.homepage-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(90deg, #866a4a,rgba(210, 180, 145, 0));
}

.homepage-hero, .homepage-video {
	position: relative;
}

.homepage-video video {
	display: block;
	height: 100vh;
	width: 100%;
	object-fit: cover;
}

.homepage-fluent {
	position: absolute;
	top: 50%;
	left: 10vw;
	width: 480px;
	transform: translateY(-70%);
	z-index: 99;
}

.homepage-top-gray {
	margin-top: 40px;
	padding-top: 60px;
	height: 60px;
	background-image: linear-gradient(0deg,transparent,rgba(0,0,0,.03));
}


.homepage-why-italki h1 {
	margin-bottom: 30px;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    color: #414042;
}

.homepage-why-tialki-container {
	display: flex;
    margin: 0 auto;
    width: 980px;
}

.homepage-why-tialki-learing {
	position: relative;
    padding: 0 20px 53px;
    width: 33.33333%;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.15);
    overflow: hidden;
}

.homepage-why-tialki-learing h1 {
    font-size: 18px;
    font-weight: 400;
	color: #414042;
}

.homepage-dividers {
    margin: 12px 0;
    width: 15px;
    height: 1px;
	background-color: #414042;
}

.homepage-why-tialki-learing p {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
	color: #333;
}

.homepage-why-italki-gradient {
	position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-image: linear-gradient(90deg,#ffac7b,#ff685f);
}