.how-it-works-title {
    margin-top: 60px;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    color: #414042;
}

.homepage-how-works {
    margin: 0 auto;
    width: 980px;
}

.homepage-how-works-animations {
    margin: 50px 0 0;
}

.homepage-how-step-1, 
.homepage-how-step-2, 
.homepage-how-step-3 {
    display: flex;
}

// .homepage-how-gif {
//     margin-top: -20px;
//     padding: 25px 30px 15px;
//     background: url(https://d1m3ds7i7t710d.cloudfront.net/orion/static/media/frame_desktop.5e42e1a0.svg) no-repeat 50%/cover;
// }

