.modal-container {
    position: relative;
    margin: 50px auto;
    width: 730px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 55px 0 rgba(0,0,0,.3);
    z-index: 9999;
    overflow: hidden;
}

.modal-head {
    margin: 0 30px;
    height: 80px;
    border-bottom: 1px solid #ddd;
    position: relative;
    top: 0;
    left: 0;
    line-height: 80px;
    font-size: 23px;
    font-weight: 300;
    color: #333;
}

.modal-head-title {
    flex: 1 1;
    text-align: center;
}

// .modal-close {
//     position: absolute;
//     top: 2%;
//     width: 20px;
//     height: 20px;

// }

