.search-container {
    color: white;
}

.search-container h1 {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 10px;
}

.searchbar {
    display: flex;
    height: 48px;
    font-size: 20px;
    color: #333;
    cursor: pointer;
}

.search-container p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 20px;
}

.search-input {
    position: relative;
    padding: 14px 25px 12px 15px;
    flex: 1 1;
    font-size: 16px;
    border: 0;
    border-radius: 4px 0 0 4px;
    background-color: #fff;
    color: black;
    cursor: pointer;
}

.search-btn {
    width: 64px;
    height: 48px;
    border-radius: 0 4px 4px 0;
    background: linear-gradient(90deg,#ff786b,#ff4338);
}

.search-container img {
    margin: 0 auto;
    width: 24px;
    height: 24px;
}

