.teach-menu {
    position: absolute;
    left: 0;
    margin: 25px auto 0;
    width: 300px;
    height: auto!important;
    z-index: 3;
}
.menu-no-border {
    border: 0;
}
.menu {
    position: relative;
    margin: 0;
    padding: 0;
    height: 42px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 2px 2px 0 0;
    cursor: pointer;
    user-select: none;
}

.teach-menu-tablet .menu-items, .teach-menu .menu-items {
    position: static;
    border: 0;
    -webkit-transform: scaleY(1)!important;
    transform: scaleY(1)!important;
    opacity: 1!important;
}
.menu-style-search .menu-items {
    left: 0;
    border: 0;
    border-top: 1px solid #ddd;
}
.menu-items-down {
    transform-origin: top;
}
.menu-items {
    position: absolute;
    left: -1px;
    top: 100%;
    width: 100%;
    overflow-y: auto;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 0 0 2px 2px;
    z-index: 900;
    box-sizing: content-box;
    transform: scaleY(0);
    opacity: 0;
    transition: transform .2s,opacity .2s;
}

.menu-group-name {
    margin: 0;
    padding: 9px 12px;
    font-weight: 900;
    font-size: 14px;
    color: #333;
}

.menu-item {
    display: flex;
    padding: 9px 12px;
    min-height: 16px;
}

.menu-item:hover {
    background: hsla(0,0%,80%,.2);
    cursor: pointer;
}