.homepage-menu {
    position: relative;
    width: 400px;
    height: 48px;
    border-radius: 4px;
}

.homepage-menu-choice {
    display: -ms-flexbox;
    display: flex;
    height: 48px;
    font-size: 20px;
    color: #333;
    cursor: pointer;
}

.homepage-menu-select-open {
    border-radius: 4px 0 0 0;
    box-shadow: 0 2px 10px 0 rgba(51,51,51,.3);
}

.homepage-search-icon-open {
    border-radius: 0 4px 0 0;
}

.homepage-menu-select {
    position: relative;
    padding: 14px 25px 12px 15px;
    flex: 1 1;
    font-size: 16px;
    border: 0;
    border-radius: 4px 0 0 4px;
    background-color: #fff;
    cursor: pointer;
}

.homepage-menu-select::placeholder {
    color: gray;
}

.homepage-search-icon {
    display: -ms-flexbox;
    display: flex;
    width: 64px;
    height: 48px;
    border-radius: 0 4px 4px 0;
    background: linear-gradient(90deg,#ff786b,#ff4338);
    transition: all .4s;
    justify-content: center;
    align-items: center;
}

.homepage-search-icon img {
    width: 24px;
    height: 24px;
}

.homepage-menu-group {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
}

.homepage-menu-items {
    position: absolute;
    top: 46px;
    left: 0;
    padding: 20px 0;
    width: 100%;
    max-height: 380px;
    height: auto;
    overflow: auto;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 10px 0 rgba(51,51,51,.3);
    background: #fff;
    z-index: 9;
}

.homepage-menu-item {
    display: flex;
    width: 50%;
    height: 40px;
    font-size: 16px;
    color: #414042;
    align-items: center;
    cursor: pointer;
}

.homepage-menu-item:hover {
    background: hsla(0,0%,80%,.2);
    font-weight: 500;
}

#homepage-menu-items-title {
    margin-bottom: 10px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 500;
    color: #414042;
}

