.homepage-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(90deg, #866a4a,rgba(210, 180, 145, 0));
}

.homepage-hero, .homepage-video {
	position: relative;
}

.homepage-video video {
	display: block;
	height: 100vh;
	width: 100%;
	object-fit: cover;
}

.homepage-fluent {
	position: absolute;
	top: 50%;
	left: 10vw;
	width: 480px;
	transform: translateY(-70%);
	z-index: 99;
}

.homepage-fluent h1 {
    margin-bottom: 10px;
    font-size: 40px;
    line-height: 1.4;
    font-weight: 500;
    color: #fff;
}

.homepage-fluent p {
    font-size: 16px;
    font-weight: 100;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #fff;
}

.homepage-video-triangle {
	position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 0;
    border-left: 100vw solid #fff;
}

.homepage-downarrow {
	position: absolute;
    left: 50%;
    bottom: .7%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.1);
    transform: rotate(-45deg);
    cursor: pointer;
    transition: all .2s;
}

.homepage-downarrow:after, .homepage-downarrow:before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 12px;
    height: 2px;
    background-color: #414042;
}

.homepage-downarrow:before {
    left: 16px;
    top: 23px;
}

.homepage-downarrow:after {
    top: 18px;
    left: 11px;
    transform: rotate(90deg);
}

.homepage-top-gray {
	margin-top: 40px;
	padding-top: 60px;
	height: 60px;
	background-image: linear-gradient(0deg,transparent,rgba(0,0,0,.03));
}

.homepage-bottom-gray {
	padding-bottom: 60px;
    height: 60px;
    background-image: linear-gradient(180deg,transparent,rgba(0,0,0,.03));
}

