.teacher-card-right {
    padding: 25px 20px 20px;
    width: 386px;
    border-radius: 0 6px 6px 0;
    background: #fff;
    box-shadow: 5px 7px 25px 0 rgba(0,0,0,.1);
}

.teacher-card-tab-head, .teacher-card-tabs {
    display: flex;
    justify-content: center;
}

.teacher-card-tab-head {
    margin-bottom: 17px;
}

.teacher-card-tabs {
    position: relative;
}

.teacher-card-tab-head, .teacher-card-tabs {
    display: flex;
    justify-content: center;
}

.teacher-card-tab {
    margin: 0 20px 10px 0;
    cursor: pointer;
}

.teacher-card-tab>p {
    font-size: 14px;
}

.iframe-video, .video-player {
    position: relative;
    height: 192px;
}
.iframe-video {
    margin: 0 auto;
    width: 343px;
    border-radius: 6px;
    overflow: hidden;
}

.video-player img {
    width: 100%;
    transform: translateY(-32px);
}
.video-player img {
    width: 100%;
    transform: translateY(-32px);
}
img {
    vertical-align: middle;
}

.video-poster-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.4);
    cursor: pointer;
}

.video-play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    background: url(https://d1m3ds7i7t710d.cloudfront.net/orion/static/media/play.bc96a11e.svg) no-repeat 50%/50px 50px;
    transform: translate(-50%,-50%);
}

.teacher-card-video-hidden {
    display: none;
}

.teacher-card-intro>p {
    padding: 0 10px 10px;
    font-size: 14px;
    font-weight: 300;
    color: #777;
    line-height: 1.57;
    word-wrap: break-word;
}

.small-schedule {
    position: relative;
    min-height: 180px;
}

.small-schedule-days {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 5px;
    padding-left: 70px;
}

.small-schedule-day {
    -ms-flex: 1 1;
    flex: 1 1;
    font-size: 12px;
    font-weight: 300;
    color: #333;
    text-align: center;
}

.small-schedule-hours {
    display: -ms-flexbox;
    display: flex;
    height: 156px;
}

.small-schedule-range, .small-schedule-range>p {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

.small-schedule-range>p {
    -ms-flex: 1 1;
    flex: 1 1;
    font-size: 12px;
    font-weight: 300;
    color: #333;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.small-schedule-hour {
    -ms-flex: 1 1;
    flex: 1 1;
    display: -ms-flexbox;
    display: flex;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.small-schedule-section {
    -ms-flex: 1 1;
    flex: 1 1;
    -ms-flex-direction: column;
    flex-direction: column;
}

.small-schedule-cell {
    height: 26px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.small-schedule-cell-active {
    height: 100%;
    width: 100%;
    background: #7ec937;
}