
.teacher-card-left {
    position: relative;
    padding: 25px 25px 20px;
    width: 564px;
    min-height: 284px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 7px 25px 0 rgba(0,0,0,.1);
    cursor: pointer;
}

.teacher-card-detail-bottom, .teacher-card-detail-top {
    display: -ms-flexbox;
    display: flex;
}

.teacher-card-avatar {
    display: flex;
    align-items: flex-start;
    text-align: center;
}

.teacher-card-information {
    margin-left: 30px;
    flex: 1 1;
}

.teacher-card-header-tablet h1, .teacher-card-information h1 {
    margin-bottom: 5px;
    font-size: 23px;
    font-weight: 400;
}

.teacher-card-information p {
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    color: #777;
    text-transform: uppercase;
}

.teacher-card-divider {
    margin: 12px 0;
    width: 15px;
    height: 2px;
    border-radius: 1px;
    background: #ff4338;
}

.teacher-card-information h2 {
    display: -ms-flexbox;
    display: flex;
    min-height: 25px;
    font-size: 16px;
    font-weight: 400;
    flex-wrap: wrap;
    align-items: center;
}

.teacher-card-detail-bottom, .teacher-card-detail-top {
    display: flex;
}

.teacher-card-detail-bottom {
    margin-top: 13px;
}

.teacher-card-rating {
    width: 100px;
    text-align: center;
}

.teacher-card-stars {
    margin: -5px 0 10px;
}

.stars-box {
    height: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.stars-box .star, .stars-box .star_gray {
    width: 12px;
    height: 12px;
    margin-right: 4px;
}

.stars-box .star {
    background: url(https://d1m3ds7i7t710d.cloudfront.net/orion/static/media/star.0f1dd6bd.svg) no-repeat 50%;
}

.teacher-card-rating p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.teacher-card-rate {
    display: -ms-flexbox;
    display: flex;
}

.teacher-card-hourly, .teacher-card-trial {
    flex: 1 1;
}

.teacher-price-rate {
    margin: 0!important;
}

.teacher-card-hourly, .teacher-card-trial {
    flex: 1 1;
}

.avatar-big.avatar-shadow, .avatar-hero.avatar-shadow {
    border: 2px solid #fff;
}
.avatar-placeholder {
    border-radius: 50%;
    background: #ccc;
}
.avatar-shadow {
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.25);
}
.avatar-big {
    width: 100px;
    height: 100px;
}
.avatar {
    display: inline-block;
    position: relative;
}

.teacher-card-favorite, .teacher-card-favorite-active {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.teacher-card-favorite {
    background: url(https://d1m3ds7i7t710d.cloudfront.net/orion/static/media/heart-empty.96354e1f.svg) no-repeat 50%/30px 30px;
}