.Teacher-main {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.teacherCard-box1 {
    width: 752px;
    margin-bottom: 21px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 7px 25px 0 rgba(0,0,0,.1);
    overflow: hidden;
}

.teacherCard {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    margin-bottom: 30px;
}

.teacherCard-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 30px;
}

.avatar-big.avatar-shadow, .avatar-hero.avatar-shadow {
    border: 2px solid #fff;
}
.avatar-placeholder {
    border-radius: 50%;
    background: #ccc;
}
.avatar-shadow {
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.25);
}
.avatar-big {
    width: 100px;
    height: 100px;
}
.avatar {
    display: inline-block;
    position: relative;
}

.avatar img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 50%;
}

.Online {
    margin-top: 15px;
    font-size: 11px;
    color: #777;
}

.Online:before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 5px;
    border-radius: 4px;
    background-color: #5ebd5e;
}

.teacherCard-body {
    width: 100%;
}

.teacherCard-part1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.teacherCard-middle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 30px;
}

.teacherCard-name {
    margin-bottom: 3px;
    font-size: 23px;
    font-weight: 500;
    color: #333;
}

.flag-icon {
    margin-left: 10px;
    vertical-align: unset;
}

.TeacherInfoCard-desktop .teacherCard-personalInfo, .TeacherInfoCard-mobile .teacherCard-personalInfo, .TeacherInfoCard-tablet .teacherCard-personalInfo {
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 25px;
    letter-spacing: normal;
    text-align: left;
    color: #777;
}

.redbar {
    width: 15px;
    border-bottom: 2px solid #ff4338;
    border-radius: 1px;
}