.homepage-students-say {
  padding: 50px 0 40px;
}

.homepage-students-say > h1 {
  font-size: 40px;
  font-weight: 300;
  color: #414042;
  text-align: center;
}

.homepage-students-say > h1 div {
  display: inline-block;
  color: #ff4338;
}

.homepage-students-carousel {
  margin: 0 auto;
  width: 980px;
}
